<ion-view>
	<ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
          <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
   <ion-content class="workpass-content">
	   	<p><b>Result:</b></p>
	   	<p class="border-paragraph">scanResult scanResult scanResult scanResult scanResult scanResult scanResult</p>
	   	<p><b>Time:</b>
	   	<p class="border-paragraph" >timeScans</p>
	   	<button class="mbutton button button-positive" > Next Scan </button>
	   	<button class="mbutton button button-positive" > Exit </button>
   </ion-content>
</ion-view>