/* Empty. Add your own CSS if you like */
h3, h5{
	color: #ffffff;
}

.mbutton {
	margin-top: 5%;
	margin-left: 12.5%;
    width: 75%;
	background-color: #006eab !important;
	font-weight: bold;
}
.mbutton.activated {
	background-color: #00476e !important;
}
.content{
	margin-top: 40px;
	height: 100%;
	background: #006eab;
}
.csc_logo{
	width: 35%;
	display:block;
    margin:auto;
}
.mon-logo-row{
	background: #ffffff;
	padding-bottom: 30px;
}
.row-blue{
	padding-top: 20px;
}
.mom_logo{
	display:block;
    margin:auto;
    width: 35%;
}
.border-paragraph{
	border: 1px solid #005787;
	width: 100%;
	background: #35a4e2;
	padding: 5px;	
    font-size: 1.25em;
	color:  #ffffff;
    border-radius: 8px;
}	
.workpass-content{
	background: #006eab;
	padding: 10px;
}
.mbutton-outline  {
	margin-top: 5%;
	margin-left: 25%;
    width: 50%;    
    border-color: #ffffff !important;
    color: #ffffff !important;
    border-width: 3px;
    border-radius: 8px;
    font-weight: bold;
}
.button.button-positive.button-outline.activated {
	background-color: #005787 !important;
}
.chart{
	height: 45%;
	background: transparent;
	margin-bottom: 10px;	
}

canvas{
    width: 140% !important;
    height: auto !important;
    margin-left: -20%;
}
.col-focus{
	margin-left: -25px !important;
}
.col-total{
	margin-left: -25px !important;
}
.time-result{
	font-weight: bold;
	font-size: 1.3em;
	color: #ffffff;
}

.ion-aperture{
	color: #ffffff;
	font-size: 4em;
}
.ion-clock{
	color: #ffffff;
	font-size: 4em;
}

@media only screen and (min-width : 361px) {
/* Styles */
	.mom_logo{
	    width: 20%;
	}
	.csc_logo{
		width: 20%;
	}
	.col {
		margin-bottom: 0px !important;
		padding: 0px;
	}
	.content{
		margin-top: 10px;
	}
	.mon-logo-row{
		padding-bottom: 15px;
	}
	canvas{
	    width: 160% !important;
	    height: auto !important;
	    margin-left: -40%;
	}
	.col-focus{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.col-total{
		margin-left: 0px !important;
	}	
}